<div>
    <h2>Disponibilité immédiate</h2>
    <div *ngIf="parksConcatData; else noData">
        <ul class="list-group" *ngFor="let park of parksConcatData">
            <li class=" list-group-item list-group-item-action li-style">
                <div class="container" (click)="changeVisibility($event, park.id_park_source)">
                    <div class="row">
                        <div class="col-4">
                            <i class="fas fa-parking"></i>
                            {{ park.name }}
                        </div>
                        <div class="col-4">
                            <button
                                attChangeVisibility="true"
                                *ngIf="park.origin === 'ZP'"
                                type="button"
                                class="btn btn-success"
                                [disabled]="!park.availability > 0"
                            >
                                {{ park.availability > 0 ? ' Reserver maintenant' : ' Temporairement non disponible' }}
                            </button>
                        </div>
                        <div class="col-4">
                            <span class="badge badge-primary disponibility-style">
                                {{ park.availability }}
                                {{ park.availability > 1 ? ' places disponibles ' : ' place disponible ' }}
                                {{ park.capacityMax ? ' / ' + park.capacityMax + ' places possibles' : '' }}</span
                            >
                        </div>
                    </div>
                    <br />
                    <div [hidden]="park.showDescription" class="row">
                        <p>Situation : {{ park.address }}</p>
                        <div [innerHTML]="park.description"></div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <ng-template #noData>
        <br />
        <h4>
            Les informations sont temporairement indisponibles, nous faisons en sorte de rétablir cela le plus vite
            possible.
        </h4>
        <br />
        <img class="img-center" src="http://pluspng.com/img-png/come-back-png--631.png" alt="Come Back PNG" />
    </ng-template>
</div>
