<div class="full-height">
    <h1>{{ title }}</h1>
    <div class="container">
        <div class="row">
            <div class="col-9">
                <app-link></app-link>
            </div>
            <div class="col-3">
                <button class="btn btn-success" (click)="open('login')">Connexion</button>
                <button class="btn btn-danger" (click)="open('subscription')">Inscription</button>
            </div>
        </div>
    </div>
    <div class="col-12">
        <router-outlet></router-outlet>
    </div>
</div>
